
@{
    ViewBag.Title = "PageError";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@Response.StatusCode | Ödev</title>



    <link href="/Assets/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/Assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="/Assets/css/animate.css" rel="stylesheet" />
    <link href="/Assets/css/style.css" rel="stylesheet" />
</head>

<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>@Response.StatusCode</h1>
        <h3 class="font-bold">Sayfa Bulunamadı</h3>
        @if (Response.StatusCode == 500)
        {
            <div class="error-desc">
                Sunucu isteği tamamlanamadı, beklenmedik bir hatayla karşılaştı. Özür Dileriz.<br />
            </div>
        }
        else
        {
            <div class="error-desc">
                Özür Dileriz. Aradığınız Sayfa Bulunamadı.<br />
            </div>
        }
    </div>


    <!-- Mainly scripts -->


    <script src="/Assets/js/jquery-3.1.1.min.js"></script>

    <script src="/Assets/js/popper.min.js"></script>
    <script src="/Assets/js/bootstrap.js"></script>
</body>

</html>
