
@{
    ViewBag.Title = "Index";
}

<!--==============================
Faq Area
==============================-->
<div class="faq-sec overflow-hidden space">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="accordion-area accordion" id="faqAccordion">
                    <div class="accordion-card active">
                        <div class="accordion-header" id="collapse-item-1">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">Soru 1</button>
                        </div>
                        <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Cevap 1</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">Soru 2</button>
                        </div>
                        <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Cevap 2</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">Soru 3</button>
                        </div>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Cevap 3</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">Soru 4</button>
                        </div>
                        <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="collapse-item-4" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Cevap 4</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">Soru 5</button>
                        </div>
                        <div id="collapse-5" class="accordion-collapse collapse " aria-labelledby="collapse-item-5" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Cevap 5</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">Soru 6</button>
                        </div>
                        <div id="collapse-6" class="accordion-collapse collapse " aria-labelledby="collapse-item-6" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Cevap 6</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-7">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">Soru 7</button>
                        </div>
                        <div id="collapse-7" class="accordion-collapse collapse " aria-labelledby="collapse-item-7" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Cevap 7</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-8">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">Soru 8</button>
                        </div>
                        <div id="collapse-8" class="accordion-collapse collapse " aria-labelledby="collapse-item-8" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Cevap 8</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-9">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-9" aria-expanded="false" aria-controls="collapse-9">Soru 9</button>
                        </div>
                        <div id="collapse-9" class="accordion-collapse collapse " aria-labelledby="collapse-item-9" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Cevap 9</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-10">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-10" aria-expanded="false" aria-controls="collapse-10">Soru 10</button>
                        </div>
                        <div id="collapse-10" class="accordion-collapse collapse " aria-labelledby="collapse-item-10" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Cevap 10</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>