
@{
    ViewBag.Title = "PageError";
}

<section class="space">
    <div class="container">
        <div class="error-img">
            <img src="/assets/img/theme-img/error.svg" alt="404 image">
        </div>
        <div class="error-content">
            <h2 class="error-title"><span class="text-theme">OooPs!</span> Sayfa Bulunamadı</h2>
            <p class="error-text">Görünüşe göre bu konumda hiçbir şey bulunamadı. Belki aşağıdaki bağlantılardan birini deneyebilir veya bir arama yapabilirsiniz?</p>
            <div class="btn-group justify-content-center">
                <a href="index.html" class="th-btn">
                    <i class="fal fa-home me-2"></i>Anasayfa
                </a>
            </div>
        </div>
    </div>
</section>
